html, body{
  background: #E3E3D8;
  font-family: sans-serif;
  padding: 25px;
  font-weight: bold;
  color: #9c9c9c;

}
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 50px;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 45px;
  width: 45px;
  top:2px;
  left: 9px;
  background-color: white;
  -webkit-transition: .4s; 
  transition: .4s;
}


input:checked + .slider {
  background-color: #4CAF50;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
right: 50px; 
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 100%;
 }

.card {
  /* Add shadows to create the "card" effect */
  width: 600px;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: box-shadow 0.5s, transform 0.5s;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0;
  transform: scale(0.95);
  padding-top: 57px;
  position: relative;
}

p{
  font-size: 2em;
}

/* Add some padding inside the card container */
.container {
  margin-top: 50px;
  /*margin-right: auto;
  margin-left: auto;
  width: 8em*/
  text-align: center;
  font-size: 1em;
 /* padding: 2px 16px;
  padding-left: 50%;*/
}
.cardmain{
  /* Add shadows to create the "card" effect */
  width: 710px;
  height: 468px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: box-shadow 0.5s, transform 0.5s;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0;
  transform: scale(0.95);
  padding-top: 20px;
}
.carddark{
  /* Add shadows to create the "card" effect */
  width: 705px;
  height: 470px;
  transition: box-shadow 0.5s, transform 0.5s;
  background: #f2f2f2;
  margin: auto;
  position: relative;
  overflow: hidden;
 /* border-radius: 10px 10px 10px 10px;*/
  box-shadow: 0;
  transform: scale(0.95);
  padding-top: 1%;
  margin-top: -3%;
  margin-bottom: 3%;
}

.img{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 35%;
  display: block;
}